@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@keyframes scalein {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.5)
    }
}

@keyframes scaleout {
    0% {
        transform: scale(1.5)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes onHoverButton {
    0% {
        color: white;
    } 100% {
        color: #2c80d3;
    }
}

@keyframes onHoverButtonOff {
    0% {
        color: #2c80d3;
    } 100% {
        color: white;
    }
}

* {
    color: white;
    font-family: 'Fredoka One';
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#particle-div {
    margin: 0 auto;
}

body {
    background: #312a2b;
}

#webhook-sender {
    width: 10%;
    font-size: 25px;
    margin-top: 25px;
    padding: 15px;
    border: 2px solid #000000c9;
}

.info {
    font-size: 30px;
}

.webhooksender, .iplookup, .alts, .info {
    animation: onHoverButtonOff 0.3s;
}

.webhooksender:hover, .iplookup:hover, .alts:hover, .info:hover {
    animation: onHoverButton 0.3s;
    animation-fill-mode: forwards;
}

.contentsCenter {
    position: absolute;
    top: 0.1%;
    left: 34%;
    text-align: center;
    margin: auto;
}

.contentsCenter:hover {
    cursor: default;
}
.contentsCenter::selection {
    cursor: default;
    text-decoration: none;
}

#Text {
    font-size: 100px;
    -webkit-text-stroke: 1px #4b4c5e;
    animation: scaleout 0.2s;
}

#Social > a {
    left: 100%;
    padding: 20px;
    font-size: 40px;
    text-decoration: none;
}

#Social > a > i {
    color: rgba(87, 88, 94, 0.6);
    animation: scaleout 0.2s;
}

#Social > a > i:hover {
    color: hsl(36deg 10% 90%);
    animation: scalein 0.2s;
    animation-fill-mode: forwards;
}